<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BerlianTS | Programmer</title>
  <link rel="stylesheet" href="../public/tailwindcss/tailwind.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"> 
</head>

<body>

  <!-- nav -->
  <section class="w-full">
    <div class="fixed top-0 right-0 left-0 z-50 transition duration-500" id="nav">
      <header class="container mx-auto grid grid-cols-12 pl-5 pr-5 lg:p-0 relative">
        <nav class="nav lg:col-span-6 md:col-start-4 md:col-end-10 md:flex hidden 2xl:text-[30px] xl:text-[28px] lg:text-[26px] md:text-[20px] 2xl:h-[100px] xl:h-[95px] lg:h-[90px] md:h-[85px] items-center font-bold gap-x-16 lg:justify-start md:justify-center">
          <a href="" class="hover:text-color3 transition-all duration-300 hover:scale-[1.20] home">HOME</a>
          <a href="" class="hover:text-color3 transition-all duration-300 hover:scale-[1.20] portofolio">PORTOFOLIO</a>
          <a href="" class="hover:text-color3 transition-all duration-300 hover:scale-[1.20] about">ABOUT</a>
          <a href="" class="hover:text-color3 transition-all duration-300 hover:scale-[1.20] contact">CONTACT</a>
        </nav>
        <nav class="sm:flex items-center sm:h-[80px] h-[55px] col-span-12 md:hidden relative">
          <p class="sm:block hidden sm:text-[30px] font-semibold absolute">Berlian Tri Saputra</p>
          <p class="sm:hidden block text-[20px] font-semibold absolute pl-0.5 top-3.5">Berlian Tri Saputra</p>
          <button class="hamburger grid absolute sm:right-5 right-0 sm:top-6 top-[15px] cursor-pointer" name="hamburger" type="button">
            <span class="ml-auto sm:w-[35px] sm:h-[3px] w-[26px] h-[2px] my-1 bg-color4 transition ease-in-out duration-500 rounded-[50px]"></span>
            <span class="ml-auto sm:w-[40px] sm:h-[4px] w-[30px] h-[2px] my-1 bg-color4 transition ease-in-out duration-500 rounded-[50px]"></span>
            <span class="ml-auto sm:w-[25px] sm:h-[3px] w-[18px] h-[3px] my-1 bg-color4 transition ease-in-out duration-500 rounded-[50px]"></span>
          </button>
        </nav>
      </header>
    </div>
  </section>
  <!-- end nav -->

  

  <!-- hero -->
  <section class="w-full 2xl:mt-[200px] xl:mt-48 lg:mt-48 md:mt-36 sm:mt-0 mt-[90px]">
    <div class="container mx-auto grid grid-cols-12 xl:pl-8 xl:pr-8">
      <div class="lg:col-span-7 col-span-12 grid 2xl:order-none xl:order-none lg:order-none order-2 mt-10 lg:text-left text-center">
        <h1 class="sm:mt-0 -mt-[15px] 2xl:text-[65px] xl:text-[60px] lg:text-[55px] sm:text-[45px] text-[33px]">Halo,</h1>
        <h1 class="2xl:-mt-[120px] xl:-mt-20 lg:-mt-[55px] sm:-mt-[15px] -mt-[10px] 2xl:text-[75px] xl:text-[70px] lg:text-[65px] sm:text-[55px] text-[40px] font-bold text-color3">Saya BerlianTS</h1>
        <p class="2xl:-mt-[85px] xl:-mt-[45px] 2xl:text-[28px] lg:-mt-[25px] sm:mt-2 -mt-[2px] lg:text-[24px] sm:text-[22px] text-[16px]">Fullstack Developer || Android Developer</p>
        <p class="2xl:-mt-[135px] xl:-mt-[70px] lg:-mt-[40px] sm:mt-0 -mt-1 2xl:text-[28px] lg:text-[24px] sm:text-[22px] text-[16px]">2 Year Experienced at<span class="text-color3 hover:text-color4 transition-all ease-in hover:ease-out duration-300"><a href="https://mixtim-tech.com"> MIXTIM TECH</a></span></p>
        <div id="btn_skills" class="2xl:-mt-[125px] xl:-mt-[40px] lg:mt-[50px] sm:mt-[20px] mt-[15px] 2xl:w-[261px] lg:w-[221px] sm:w-[50%] w-[80%] 2xl:h-[80px] xl:h-[70px] lg:h-[62px] sm:h-[55px] h-[40px] bg-color3 rounded-lg items-center flex hover:bg-color4 lg:justify-evenly justify-center lg:ml-0 mx-auto cursor-pointer transition-all ease-in hover:ease-out duration-300">
          <a href="" class="2xl:text-[35px] xl:text-[30px] lg:text-[29px] sm:text-[25px] text-[20px] font-bold">My Skills</a>
          <img src="../public/icon/arrow.png" alt="" class="2xl:w-[50px] xl:w-[38px] lg:w-[38px] lg:inline-block hidden">
        </div>
      </div>
      <!-- end hero -->
      
      <!-- gambar profile -->
      <div class="xl:mt-0 lg:mt-16 md:-mt-[20px] sm:mt-[115px] lg:col-span-5 col-span-12 grid order-1 xl:pr-5">
        <img src="../public/img/profile.png" alt="image" class="2xl:ml-auto xl:ml-auto lg:ml-auto mx-auto lg:w-full sm:w-[300px] w-[50%]">
      </div>
      <!-- end gambar profile -->
    </div>
  </section>

  <!-- contact -->
  <section class="w-full 2xl:mt-2 xl:mt-[120px] lg:mt-[150px] sm:mt-[75px] mt-[55px]">
    <div class="container mx-auto grid grid-cols-12">
      <div class="flex sm:gap-x-7 gap-x-5 xl:col-span-3 lg:col-start-5 lg:col-end-9 md:col-start-5 md:col-end-9 sm:col-start-4 sm:col-end-10 col-start-4 col-end-10 xl:justify-start justify-center">
        <a href=""><svg class="fill-white hover:fill-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="50px" height="50px"><path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533c2.987,0,3.539,1.966,3.539,4.522V22z"/></svg></a>

        <a href="https://github.com/berliants?tab=repositories"><svg class="fill-white hover:fill-color3 cursor-pointer  transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="50px" height="50px"><path d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z"/></svg></a>

        <a href="https://www.youtube.com/c/BerlianTS/"><svg class="fill-white hover:fill-color3 cursor-pointer  transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"/></svg></a>

        <a href="https://www.instagram.com/berlian_ts/"><svg class="fill-white hover:fill-color3 cursor-pointer  transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="50px" height="50px">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"/></svg></a>
      </div>
    </div>  
    <div class="container mx-auto grid grid-cols-12 mt-2">
      <div class="2xl:col-span-3 xl:col-span-4 lg:col-start-5 lg:col-end-9 sm:col-start-4 sm:col-end-10 col-span-12 lg:justify-center xl:text-left text-center xl:pl-[5px]">
        <p class="font-bold 2xl:text-[28px] xl:text-[26px] lg:text-[25px] sm:text-[24px] text-[20px]"><span class="text-color3">Kontak Saya</span> Melalui Link</p>
      </div>
    </div>
  </section>
  <!-- end contact -->

  <!-- about -->
  <section class="w-full bg-color2 mt-[90px] pt-8 pb-16">
    <div class="container mx-auto grid justify-center text-center md:p-0 pl-10 pr-10">
      <h1 id="about" class="sm:text-[65px] text-[50px] font-bold">About Me</h1>
      <div class="mx-auto sm:w-[500px] w-[300px] h-1.5 bg-color3 rounded-md -mt-1"></div>
      <p class="font-bold md:text-[28px] sm:text-[26px] text-[22px] text-color3 mt-9">"hal yang akan saya sesali adalah jika saya tidak pernah mencoba"</p>
      <p class="md:text[24px] sm:text-[20px] text-[18px] mt-9 font-light">
        Nama lengkap Berlian Tri Saputra, saya mampu bekerja individu maupun
        berkolaborasi dengan tim, bekerja dengan cepat, <i>Up To Date</i> terhadap perkembangan
        teknologi dan informasi.<br><br>Saat ini saya berusia 20 Tahun, walaupun masih terbilang muda,
        tapi sudah memiliki banyak skill yang dapat di andalkan di era 4.0 masa ini, Frontend Web Development,
        Backend Web Development dan Android Developer. <span class="text-color3">Cek detail saya di bawah</span>
      </p>
    </div>
  </section>
  <!-- end about -->

  <!-- skills -->
  <section class="w-full mt-8">
    <div id="skills" class="container mx-auto grid justify-center relative">
      <h1 class="sm:text-[65px] text-[55px] font-bold text-center">Skills</h1>
      <div class="sm:w-[500px] w-[300px] h-1.5 mx-auto -mt-1 bg-color3 rounded-md"></div>
      <div class="flex flex-wrap sm:w-10/12 w-[300px] lg:w-[800px] mx-auto justify-center mt-12 mb-96 gap-8">
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/html5.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/css3.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/tailwind.svg" class="w-[75px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/vuejs.png" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/logo/nodejs-seeklogo.com.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/mongodb.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/js.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/logo/git.png" class="w-[75px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/github.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/logo/ionic.png" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/xd.svg" class="w-[65px]" alt="icon">
        </div>
        <div class="w-[100px] h-[100px] rounded-3xl bg-slate-700 overflow-hidden p-2.5 grid justify-center items-center">
          <img src="../public/icon/express.png" class="w-[65px]" alt="icon">
        </div>
      </div>

      <!-- extend skills -->
      <div class="flex lg:flex-nowrap flex-wrap mx-auto justify-center align-middle lg:mt-[500px] md:mt-[650px] sm:mt-[620px] mt-[1000px] lg:gap-24 md:gap-20 gap-16 absolute z-10">
        <div class="lg:w-3/12 md:w-[298px] sm:w-[398px] w-[298px] sm:h-[500px] bg-color1 border-2 lg:rounded-tl-none lg:rounded-tr-[50px] lg:rounded-b-[50px] sm:rounded-[50px] rounded-[30px] border-solid border-color4 p-[46px] hover:bg-color3 cursor-pointer lg:justify-start sm:justify-items-center transition-all ease-in hover:ease-out duration-300">          
          <img src="../public/img/programmer.svg" class="2xl:h-44 xl:h-40 lg:h-36 md:h-40 sm:h-44 h-40 fill-white" alt="image" >         
          <h1 class="2xl:text-[50px] xl:text-[45px] lg:text-[31px] md:text-[33px] sm:text-[50px] text-[33px] font-bold leading-10 mt-6">Frontend Developer</h1>
          <p class="2xl:text-[19px] xl:text-[17px] lg:text-[15px] md:text-[16px] sm:text-[19px] text-[16px] font-light leading-6 mt-7">Saya menguasai HTML, CSS, JAVASCRIPT dan TailwindCSS memberikan saya kemampuan slicing desain yang baik.</p>
        </div>
        <div class="lg:w-3/12 md:w-[298px] sm:w-[398px] w-[298px] sm:h-[500px] bg-color1 border-2 lg:rounded-tl-none lg:rounded-tr-[50px] lg:rounded-b-[50px] sm:rounded-[50px] rounded-[30px] border-solid border-color4 p-[46px] hover:bg-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300">          
          <img src="../public/img/internet-user.svg" class="2xl:h-44 xl:h-40 lg:h-36 md:h-40 sm:h-44 h-40 fill-white" alt="image" >
          <h1 class="2xl:text-[50px] xl:text-[45px] lg:text-[31px] md:text-[33px] sm:text-[50px] text-[33px] font-bold leading-10 mt-6">Backend Developer</h1>
          <p class="2xl:text-[19px] xl:text-[17px] lg:text-[15px] md:text-[16px] sm:text-[19px] text-[17px] font-light leading-6 mt-7">Menggunakan NodeJS dan MongoDB di backend, memberikan banyak kelebihan dalam membuat website.</p>
        </div>
        <div class="lg:w-3/12 md:w-[298px] sm:w-[398px] w-[298px] sm:h-[500px] bg-color1 border-2 lg:rounded-tl-none lg:rounded-tr-[50px] lg:rounded-b-[50px] sm:rounded-[50px] rounded-[30px] border-solid border-color4 p-[46px] hover:bg-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300">
          <img src="../public/img/android.svg" class="2xl:h-44 xl:h-40 lg:h-36 md:h-40 sm:h-44 h-40 fill-white" alt="image" >
          <h1 class="2xl:text-[50px] xl:text-[45px] lg:text-[31px] md:text-[33px] sm:text-[50px] text-[33px] font-bold leading-10 mt-6">Android Developer</h1>
          <p class="2xl:text-[19px] xl:text-[17px] lg:text-[15px] md:text-[16px] sm:text-[19px] text-[17px] font-light leading-6 mt-7">Dengan framework Ionic, saya dapat membuat aplikasi mobile menggunakan bahasa javascript yang sudah di kuasai.</p>
        </div>
      </div>
      <!-- end extend skills -->
      
    </div>
  </section>
  <!-- end skills -->

  <!-- portofolio -->
  <section class="w-full bg-color2 pb-20 lg:mt-0 md:mt-[300px] sm:mt-[550px] mt-[560px]">
    <div class="container grid grid-cols-12 mx-auto">
    <div class="col-span-12 h-96 pb-96 lg:pt-96 md:pt-[650px] sm:pt-[900px] pt-[920px]">
      <h1 id="portofolio" class="font-bold sm:text-[65px] text-[55px] text-center">Portofolio</h1>
      <div class="sm:w-[500px] w-[300px] h-1.5 -mt-1 mx-auto bg-color3 rounded-md"></div>
    </div>
    <div class="flex flex-wrap sm:gap-[60px] gap-[48px] col-span-12 justify-center sm:-mt-52 -mt-60">
      <div class="2xl:w-[720px] xl:w-[520px] lg:w-[420px] md:w-[320px] sm:w-[420px] w-[85%] rounded-3xl overflow-hidden">
        <img src="../public/img/portofolio-1.png" alt="gambar"> 
      </div>
    </div>
  </div>
    
  </section>
  <!-- end portofolio -->

  <!-- contact -->
  <section class="w-full mt-20 mb-20">
    <div class="container mx-auto pl-5 pr-5">
      <div class="w-[150px] mt-225px rounded-full overflow-hidden mx-auto">
        <img src="../public/img/profile.png" alt="">
      </div>
      <p id="contact" class="sm:text-[28px] text-[22px] text-center font-bold mt-6"><span class="text-color3">Terima Kasih</span>, Telah Berkunjung</p>
      <div class="flex gap-x-5 mt-3 justify-center">
        <svg class="fill-white sm:w-fit w-[35px] hover:fill-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="50px" height="50px"><path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533c2.987,0,3.539,1.966,3.539,4.522V22z"/></svg>

        <a href="https://github.com/berliants?tab=repositories"><svg class="fill-white sm:w-fit w-[35px] hover:fill-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="50px" height="50px"><path d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z"/></svg></a>

        <a href="https://www.youtube.com/c/BerlianTS"><svg class="fill-white sm:w-fit w-[35px] hover:fill-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"/></svg></a>

        <a href="https://www.instagram.com/berlian_ts"><svg class="fill-white sm:w-fit w-[35px] hover:fill-color3 cursor-pointer transition-all ease-in hover:ease-out duration-300" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="50px" height="50px">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"/></svg></a>
      </div>
    </div>
  </section>
  <!-- end contact -->

  <script src="../public/js/script.js"></script>
</body>

</html>